<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.aclass.android.qq">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_qqlauncher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".AddFriendActivity"/>
        <activity android:name=".NewFriendActivity" />
        <activity android:name=".ContactChatSettingsActivity" />
        <activity android:name=".GroupChatSettingsActivity" />
        <activity android:name=".MessageWindowActivity" />
        <activity android:name=".SettingWindowActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".EditDataActivity" />
        <activity android:name=".VideoWindowActivity" >
        </activity>
    </application>

</manifest>